// RESULT CONTAINER CSS //
.result-container {
	padding-bottom: $footerHeight;

	.result-container-inner {
		margin: 0 auto;
    	max-width: 900px;
    	font-size: 150%;
    	padding: 20px 20px 10px 20px;
	}

	// no results
	.no-results {
		text-align: center;

    	.fa {
    		padding-bottom:10px;
    	}
	}
}
.result-container.hide-year {
	.result-container-inner {
		max-width: 700px;
		.year {
			display: none;
		}
	}
}

@media (max-width: 480px) {
	.result-container {
		.result-container-inner{
			font-size: 125%;
		}
	}
}


// RESULT ROW CSS //
.result-row {
	display:table;
	width: 100%;
    border-top: 1px solid #4CBCFD;
    padding: 10px;
    box-sizing: border-box;

	.name {
		display: table-cell;
	    padding-right: 10px;

		.full { padding-right: 5px; }
		.alias { color: #9E9E9E; }
	}

	.year {
		display: table-cell;
		text-align: right;
	}
}
.result-row.first { border-top: 0px; }

// PHOTOS //
.photo {
    background-size: contain;
    background-position: center;
 	background-repeat: no-repeat;
    height: 400px;

    @media (max-width: 600px) { 
    	height: 300px;
    }

    @media (max-width: 480px) { 
    	height: 225px;
    }

    @media (max-width: 350px) { 
    	height: 175px;
    }
}