
// MIXINS //
@mixin border-radius($br) {
	-webkit-border-radius: $br;
	   -moz-border-radius: $br;
        -ms-border-radius: $br;
    		border-radius: $br; 
}

@mixin border-radius-all($tl, $tr, $br, $bl) {
	-webkit-border-radius: $tl $tr $br $bl;
	   -moz-border-radius: $tl $tr $br $bl;
        -ms-border-radius: $tl $tr $br $bl;
    		border-radius: $tl $tr $br $bl;
}

// VARIABLES //
$headerHeight: 60px;
$headerHeightPhone: 40px;
$footerHeight: 30px;
$mainColor: #FF5E5E;
$blackColor: #323232;

body {
	margin: 0px;
	font-size: 16px;
	background: #FFFBF6;
	font-family: 'Roboto Condensed';
}

// HEADER AND FOOTER CSS //
.main-app {
	.main-header {
		width: 100%;
		height: $headerHeight;
		background: $blackColor;
		color: white;
		font-family:'Bree Serif';
		text-align: center;
		font-size: 200%;

		.logo {
			width: 50px;
			height: 45px;

			display: inline-block;
			background-image: url('images/logo.png');
		    background-size: cover;
		    margin: -11px 10px;

		    &.left{ margin-left: 0; }
		    &.right { margin-right: 0px; }
		}

		.content {
			padding-top: 5px;
			display: inline-block;
		}
	}

	.footer {
		position: fixed;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height: $footerHeight;
		text-align: center;
		background: $blackColor;
		color: white;

		.content {
			padding-top: 6px;
		}
	}
}

@media (max-width:575px) {
	.main-app .main-header {
		font-size: 160%;

		.logo {
			width: 45px;
			height: 40px;
		}

		.content {
			padding-top: 10px;
		}
	}
}

@media (max-width:480px) {
	.main-app .main-header {
		font-size: 125%;
		height: $headerHeightPhone;

		.logo {
			width: 30px;
			height: 27px;
    		margin: -6px 10px;
		}

		.content {
			padding-top: 5px;
		}
	}
}


@media (max-width:375px) {
	.main-app .main-header {
		font-size: 100%;
		height: $headerHeightPhone;

		.logo {
			width: 25px;
			height: 23px;
    		margin: -6px 10px;
		}

		.content {
			padding-top: 8px;
		}
	}
}

// HOME CSS //
.main-app .home {
	display: table;
	width: 100%;

	.search-container {
		background: $mainColor;
		text-align: center;
		padding: 10px 0px;

		.input {
			display:inline-block; 
			vertical-align: middle;

			> .top {
				display: inline-block;
			}
			> .bottom {
				display: inline-block;
				position: relative;
				background: white;
				@include border-radius(4px);

				.placeholder {
				    position: absolute;
				    top: 10px;
				    left: 10px;
				    color: #A3A3A3;
				    z-index: 0;

				    &.hidden {
			    		display: none;
				    }
				}
			}

			.textbox {
				width: 160px;
				padding: 10px;
				font-size: 100%;
				outline: none;
				border: 1px solid $mainColor;

				&.first { @include border-radius-all(4px, 0px, 0px, 4px); }
				&.last { @include border-radius-all(0px, 4px, 4px, 0px); }
			}

			.or {
				padding: 10px;
			}
		
			.year {
				font-size: 100%;
				outline: none;
				width: 90px;
				height: 40px;
			    border: 0;
			    vertical-align: middle;
			    padding: 7px;
			    position: relative;
    			z-index: 1;
    			background: transparent;

			    @include border-radius(4px);
			}
		}

		.submit {
		    font-size: 1.5em;
   		 	padding: 7px 14px;
    		background: black;
    		color: $mainColor;
		    height: 26px;
    		vertical-align: middle;
    		margin: 5px 5px 5px 10px;
    		cursor: pointer;
    		@include border-radius(20px);
		}
	}
}

@media (max-width: 775px) {
	.main-app .home .search-container {
		.input {
			width: 100%;

			> .top, > .or, > .bottom {
				display: block;
				margin: 0px 5px;
			}

			.textbox {
				width: 33%;
				box-sizing: border-box;

				&.last { width: 34%; }
			}

			.year {
				width: 100%;
				box-sizing: border-box;
			}
		}
		.submit {
			display: block;
		    margin: 10px 5px 0px 5px;
		}
	}
}

@media (max-width:480px) {
	.main-app .home .search-container {
		.input {
			.textbox {
				width: 100%;
				&.last { width: 100%; }
				&.first { @include border-radius-all(4px, 4px, 0px, 0px); }
				&.last { @include border-radius-all(0px, 0px, 4px, 4px); }
			}
		}
	}
}

@import 'result-container';

// UPLOAD CSS //
.main-app .upload {
	padding: 10px;

	.file-uploader,
	.password {
	    display: block;

	    margin: 10px;
	    padding: 10px;
	    font-size: 200%;
	    @include border-radius(4px);
	    border: 1px solid black;
	}

	// file uploader react component has an inline width.
	// override it so that it doesn't cause overflow on the page
	.file-uploader {
		width: auto !important;
	}

	.submit {
		background: #00ABFC;
		color: white;
	    font-size: 200%;
	    margin: 10px;
	    padding: 10px;
	    border: 1px solid transparent;
	    width: 200px;

	    @include border-radius(4px);
	}
}